<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8">
<meta http-equiv="Content-Security-Policy" content="default-src 'self' data: blob: applewebdata: file:; script-src 'self' 'unsafe-inline' 'unsafe-eval' data: blob: applewebdata: file:; style-src 'self' 'unsafe-inline' data: applewebdata: file:; img-src 'self' data: blob: applewebdata: file:; font-src 'self' data: applewebdata: file:; media-src 'self' data: blob: applewebdata: file:; connect-src 'self' applewebdata: file:; object-src 'none'; frame-src 'none'; base-uri 'none'">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
{{{ titleTag }}}

{{#each styleTags }}
{{{ this }}}
{{/each }}

</head>

<body>

{{{ body }}}

{{#each scriptTags }}
{{{ this }}}
{{/each }}

</body>

</html>
